<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">
  <div class="container">
    <h4>We love you mummy! Come back asap</h4>
    <img src="/1N5A0192.jpg" width="65%">
</div>

</body>
</html>
