<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- <% include ../partials/nav.ejs %> -->

<!-- <div class="jumbotron text-center">
  <div class="container">
    <h4>We love you MOM and waiting for you...</h4>
    <img src="/1N5A0192.jpg" width="65%" alt="pad">

</div> -->
<div id="pageTimer"></div>
</body>
<script src='/js/countdown.min.js'></script>
<script src='/js/script.js'></script>
</html>
