<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- <% include ../partials/nav.ejs %> -->

<p>Before the repayment of the debt remained</p>
	<br>
	<br>
	<br>
	<br>
	<div id="pageTimer"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>(Еще 10 0000 ведер и золотой ключик в наших руках (с) "Приключения Буратино"&#9787;)</p>
</body>
<script src='/js/countdown.min.js'></script>
<script src='/js/script.js'></script>
</html>
